body{
    align-items: center;
    text-align: center;
    justify-content: center;


}




.white{
    color: white;
}

.z10{
    position: relative;
    z-index: 10;
}

.flex-container{ /***********************/
    text-transform: uppercase;
    background-color: white;
    height:70vh;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(183, 163, 83);
    overflow: hidden;

}



video{
    position: relative;
    bottom: 30vh;
    
}


@media (min-width:500px ) { /**********************/
    .flex-container{
        width: 100%;
        display: flex;
        position: relative;
        left: 0%;
    }
    video{
        top:0vh;
        scale: 1.2;
    }
}

@media (min-width:768px ) { /**********************/
    .flex-container{
        width: 70%;
        display: flex;
        position: relative;
        left: 15%;
    }
    video{
        top:0vh;
        scale: 1.2;
    }
}

@media (min-width:1200px ) { /**********************/
    .flex-container{
        width: 60%;
        display: flex;
        position: relative;
        left: 20%;
    }
    video{
        top:15vh;
        scale: 1.2;
    }
}
















header{
    height: 100vh;
    border-style: none;
    
}

footer{
    height: 50hv;
}

a{
    color: whitesmoke;
}

/*****************************/
.blur{
    filter: blur(5px);
}

img{
    width: 65%;
    height: auto;
    margin: 0%;
}

.imagen-chica{
    width: 35%;
}





@media (max-width:768px ) {
    img{
        width: 100%;
        height: auto;   
    }
    .imagen-extra-grande{
        width:65%;
    }
}

.glass-top{
    position: relative;
    top: 25%;
    backdrop-filter: blur(20px);
    height: 25vh;
}


.gold{
    color: rgb(159, 128, 50) ;
    font-family:'Times New Roman', Times, serif;
    font-weight: normal;
}

h2{
    height: 60px;
}